* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.text-align-center {
    text-align: center;
}

/* Header */

.main-header {
    padding: 40px;
    background-color: #5a3506;
    color: #f1f4f6;
    text-align: left;
}
.main-header img {
    width: 316px;
    height: 400px;
}

/* Navbar */
nav {
    background-color: #f19011;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
}


/* About Me */
.section-1 {
    display: flex;
    flex-wrap: wrap;
}
.section-1 aside {
    flex: 1;
    background: #b9c6ae;
    padding: 20px;
}
.section-1 .about-me {
    flex: 3;
    background-color: #fff;
    padding: 20px;
}

/* Work */
.section-2 {
    display: flex;
    flex-wrap: wrap;
}

.section-2 aside {
    flex: 1;
    background: #4e7c29;
    padding: 20px;
}
.section-2 .img {
    flex: 3;
    background-color: #da9595;
    padding: 20px;
    display: inline-block;
}

.section-2 #img-1  {
    background-color: #0c4935;
    width: 100%;
    padding: 20px;
    height: 300px;
    border: 5px solid black;
}

.section-2 .img2-5 {
    background-color: #993517;
    width: 49%;
    padding: 20px;
    height: 200px;
    border: 5px solid black;
}


/* Contact Me */
.section-3 {
    display: flex;
    flex-wrap: wrap;
}
.section-3 aside {
    flex: 1;
    background: #112203;
    padding: 20px;
}
.section-3 .contact-me {
    flex: 3;
    background-color: rgb(163, 64, 64);
    padding: 20px;
}
.contact-me a{
    display: inline-block;
    padding: 0 90px;
    color: #112203;
}