* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.display-flex {
    display: flex;
}

/* Header */

.main-header {
    padding: 40px;
    background-color: #5a3506;
    color: #f1f4f6;
    text-align: left;
}
.main-header img {
    width: 316px;
    height: 400px;
}

/* Navbar */
nav {
    background-color: #f19011;
    justify-content: flex-end;
}

nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
}

