* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.text-align-center {
    text-align: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

/* Header section */
.main-header {
    padding: 40px;
    background-color: #250202;
    color: #f1f4f6;
}
.main-header h1 {
    font-size: 40px;
    padding-bottom: 20px;
}
.main-header img {
    width: 316px;
    height: 400px;
}

/* Navbar */
nav {
    background-color: #561405;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav a {
    color: #b3b9bd;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}


/* About Me */
.section-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.section-1 aside {
    flex: 1;
    padding: 80px 20px;
    border-right: 5px solid #260101
}
.section-1 .about-me {
    flex: 3;
    background-color: #fff;
    padding: 80px 20px;
}

/* Work */
.section-2 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.section-2 aside {
    flex: 1;
    padding: 80px 20px;
    border-right: 5px solid #260101
}
.section-2 .img {
    flex: 3;
    padding: 80px 20px;
    display: inline-block;
}

.section-2 #img-1  {
    background-color: black;
    width: 80%;
    padding: 20px;
    height: 300px;
    border: 5px solid black;
    transition: all 0.5s ease-in-out;
}

.section-2 .img2-5 {
    background-color:black;
    width: 25%;
    padding: 20px;
    height: 200px;
    border: 5px solid black;
}

#img-1:hover,
#img-2:hover,
#img-3:hover,
#img-4:hover,
#img-5:hover {
    box-shadow: inset 0px 0px 40px
    rgb(103, 7, 107), 0 0 15px
rgb(117, 13, 120); 
    border-radius: 10px;
}


/* Contact Me */
.section-3 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.section-3 aside {
    flex: 1;
    padding: 80px 20px;
    border-right: 5px solid #260101
}
.section-3 .contact-me {
    flex: 3;
    padding: 80px 20px;
}
.contact-me a{
    display: inline-block;
    padding: 0 190px;
    color: #112203;
}

/* Responsive layout */
 @media  screen and (max-width: 768px) {
    .main-header {
        background-color: #050115;
        display: flex;
        flex-direction: column;
    }
    .main-header h1 {
        display: flex;
        padding: 20px 20px 20px 0px;
    }

    nav {
        background-color: #16344f;
        flex-direction: column;
    }
    nav a {
        text-align: center;
    }
    .section-1, .section-2, .section-3 {
        flex-direction: column;
    }
    .section-1 p {
        text-align: center;
    }
    .section-2 #img-1 .img2-5 {
        width: 50%;
        background-color: #5a3506;
    }
    .contact-me {
        flex-direction: column;
        display: flex;
    }
    .contact-me a {
        text-align: center;
    }
    .section-1 aside, .section-2 aside, .section-3 aside {
        border-right: 0px;
    }
    h2 {
        text-decoration: underline;
    }
    
 }